.meme-barchart-wrapper {
    margin-bottom: 50px;
}

.barchart {
    display: "grid";
    margin-top: 50px;
    margin-bottom: 20px;
}

.legende {
    margin-bottom: 20px;
}

.upvoteColor {
    width: 10px;
    height: 10px;
    background-color: #54cf55;
    margin: auto;
    display: inline-block;
}

.downvoteColor {
    width: 10px;
    height: 10px;
    background-color: #ec5252;
    margin: auto;
    display: inline-block;
    margin-left: 10px;
}

.viewsColor {
    width: 10px;
    height: 10px;
    background-color: navy;
    margin: auto;
    display: inline-block;
    margin-left: 10px;
}

.usesColor {
    width: 10px;
    height: 10px;
    background-color: purple;
    margin: auto;
    display: inline-block;
    margin-left: 10px;
}

.otherViewsColor {
    width: 10px;
    height: 10px;
    background-color: lightgrey;
    margin: auto;
    display: inline-block;
    margin-left: 10px;
}

.piechart-wrapper {
    width: 50%;
    box-sizing: border-box;
    display: inline-block;
}

.piechart {
    margin-bottom: 20px;
}