@import "_globalMixins.scss";

#create-page-wrapper {
    padding: 20px;
    box-sizing: border-box;

    #main-table {
        width: 100%;
        border-collapse: collapse;

        td {
            width: 50%;
            padding: 20px;
            box-sizing: border-box;
            vertical-align: top;

            #btn-api {
                @include largeButton(#0068b0, #004a7d);
            }

            #btn-custom {
                @include largeButton(#009688, #00635a);
            }

            #btn-api, #btn-custom {
                margin: 0;
                padding: 20px 15px;
            }
        }
    }
}