#comments-wrapper {
    $subcontainerPadding: 0 10px;

    #existing-comments-container {
        max-height: 300px;
        overflow: hidden auto;
        padding: $subcontainerPadding;
    }
    .commentContainer {
        display: flex;
        text-align: left;
        padding: $subcontainerPadding;

        .commentInfo {
            margin-right: 10px;
            flex: auto;
            white-space: nowrap;
            
            .commentDate {
                display: inline;
                font-size: 12px;

                &::after {
                    content: ' - ';
                }
            }
            
            .userInfo {
                display: inline;
            }
            
            .username {
                font-weight: bold;
            }
        }

        .commentText {
            background-color: rgb(117, 117, 238);
            padding: 3px;
            padding-left: 7px;
            padding-right: 7px;
            color: white;
            border-radius: 0 9px 9px 9px;
        }
    }

    .postContainer {
        display: flex;
        margin-top: 10px;
        
        #commentInput {
            flex: auto;
            border-radius: 10px 0 0 10px;
            
    
            &.invalid {
                background-color: #f28f8f!important;
            }
        }

        #postButton {
            background-color: #d14fd1;
            color: white;
            border: none;
            border-radius: 0 10px 10px 0 !important;
            padding: 3px 13px;

            &.disabled {
                background-color: #af71af;
                cursor: not-allowed;
            }
        }
    }
}