@mixin content {
    margin: 0 auto;
    width: 75%;
}

#memes-list-wrapper {
    padding: 0 40px 40px 40px;

    .meme-wrapper {
        margin: 0 auto;
        width: 60%;
        border-bottom: 1px solid lightgray;
        padding: 25px 0;
        text-align: center;

        .title-row {
            //font-family: Verdana;
            text-align: center;
            font-size: 110%;
            margin-bottom: 20px;
            
    
            span {
                padding: 5px 10px;
                font-size: 120%;
                //font-weight: bold;
                border-bottom: 1px solid lightgray;
                
            }
        }
    
        .meme-img {
            @include content;
            display: block;
            border-radius: 14px;
        }

        .meme-img:hover{ 
            transform: scale(0.98);
        }
    
        .stats-table {
            //@include content;
            padding: 40px;
            text-align: center;      
            margin: 0 auto;
            margin-top: 6px;
            td {
                margin: 12px 12px 12px 12px;
                padding: 12px 12px 12px 12px;
              }
        }
    }

}