@mixin content {
    margin: 0 auto;
    width: 75%;
}

#mymemes-page-wrapper {
    padding: 0 40px 40px 40px;

    #mymemes-empty {
        text-align: center;
        font-style: italic;
        color: darkred;
    }

    #mymemes-page-loader, #mymemes-page-loader div {
        text-align: center;
        padding: 20px;
    }

    .meme-wrapper {
        margin: 0 auto;
        width: 50%;
        border-bottom: 2px solid grey;
        padding: 25px 0;
        text-align: center;

        &.visibility-1 {
            background-color: #eee;
        }
        &.visibility-0 {
            background-color: #bbb;
        }

        .title-row {
            text-align: center;
            font-size: 120%;
            margin-bottom: 10px;
    
            .title {
                padding: 5px 10px;
                font-size: 120%;
                font-weight: bold;
                border-bottom: 1px solid gray;
            }

            img {
                width: 2em;
                height: 2em;
            }
        }
    
        .meme-img {
            @include content;
            display: block;
        }
    
        .stats-table {
            @include content;
            padding: 10px;
            text-align: center;
        }
    }

}