#navbar-wrapper {
    margin-bottom: 10px;
	//border: 1px solid lightgray;
    border: 3px solid  rgb(102, 194, 255);
	background-color: #fff;
	border-radius: 0 0 12px 12px;
    border-top: none;
    border-right: none;
    border-left: none;
    
    
    #navlinks {
        border-radius: 12px;
        font-size: 17px;

        .navbar-brand {
            padding: .5rem 0;

            span{
                font-size: 24px;
                color: rgb(102, 194, 255);
                font-family: 'Impact' !important
            }
        }

        a {
            color: black;
        }
    }
}