@mixin content {
    margin: 0 auto;
    width: 75%;
}

#single-view-wrapper {


    .title-row {
        @include content;
        // //padding: 10px;
        // text-align: center;
        text-align: center;
        position: relative;

        #meme-title {
            font-size: 130%;
            vertical-align: bottom;
        }

        img {
            width: 2em;
            height: 2em;
            // vertical-align: bottom;
            margin-left: 8px;
        }
        
        #read-button {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            font-size: 11px;
            text-align: center;
            background-color: transparent;
            vertical-align: bottom;
            padding: 5px 10px;
            border-radius: 13px;
            border-color: lightgrey;
        }
    }

    #meme-img {
        @include content;
        border-radius: 14px;
    }

    #stats-table {
        padding: 40px;
            text-align: center;      
            margin: 0 auto;
            margin-top: 6px;
            td {
                margin: 12px 12px 12px 12px;
                padding: 12px 12px 12px 12px;
              }
        
    }

    #share-options {
        $shareImgDims: 30px;
        $shareImgPadding: 15px;
        $gap: 20px;

        padding: 10px;
        text-align: center;

        #download-btn {
            margin-right: 5px;
        }

        p {
            font-size: 110%;
        }

        input {
            cursor: pointer;
            border: 0;
            padding: 3px;
            box-sizing: border-box;
            
            background-color: #eee;
            margin-right: 10px;
            width: calc(100% - 3 * (#{$shareImgDims} + 2 * #{$shareImgPadding}) - #{$gap});
            text-align: center;
            border-radius: 12px;
           
        }

        .social-icon-link {
            padding: 0 $shareImgPadding;
            text-align: center;
            box-sizing: border-box;
            display: inline-block;

            img {
                width: $shareImgDims;
                height: $shareImgDims;
            }
        }

        #legal {
            font-size: 50%;
            margin-top: 15px;
        }
    }
}