@mixin content {
    margin: 0 auto;
    width: 75%;
}

#single-view-wrapper {

    #read-button {
        font-size: 11px;
        text-align: center;
        background-color: transparent;
        vertical-align: middle;
        margin: 8px 0;
        padding: 4px;
        border-radius: 12px;
        border-color: lightgrey;
       
    }

    #meme-title {
        text-align: center;
        font-size: 130%;
        vertical-align: middle;
        vertical-align: middle;
        margin: 8px 0;
        //font-weight: bold;
        
    }

    #meme-img {
        @include content;
        border-radius: 14px;
    }

    #stats-table {
        padding: 40px;
            text-align: center;      
            margin: 0 auto;
            margin-top: 6px;
            td {
                margin: 12px 12px 12px 12px;
                padding: 12px 12px 12px 12px;
              }
        
    }

    #title-table {
        @include content;
        //padding: 10px;
        text-align: center;
    }

    #share-options {
        $shareImgDims: 30px;
        $shareImgPadding: 15px;
        $gap: 20px;

        padding: 10px;
        text-align: center;

        #download-btn {
            margin-right: 5px;
        }

        p {
            font-size: 110%;
        }

        input {
            cursor: pointer;
            border: 0;
            padding: 3px;
            box-sizing: border-box;
            
            background-color: #eee;
            margin-right: 10px;
            width: calc(100% - 3 * (#{$shareImgDims} + 2 * #{$shareImgPadding}) - #{$gap});
            vertical-align: bottom;
            text-align: center;
            border-radius: 12px;
           
        }

        .social-icon-link {
            padding: 0 $shareImgPadding;
            text-align: center;
            box-sizing: border-box;
            display: inline-block;

            img {
                width: $shareImgDims;
                height: $shareImgDims;
            }
        }

        #legal {
            font-size: 50%;
            margin-top: 15px;
        }
    }
}