@mixin buttonStyle {
    //border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    //font-family: initial;
}

#slideshow-wrapper {
    position: relative;
    margin: auto;
    width: 60%;
    text-align: center;

    #slideshow-toprow {
        .actionButton {
            @include buttonStyle;
            background-color: transparent;
            //border-radius: 2px;
            //font-weight: bold; 
            font-size: 13px;
            padding: 3px 10px;
            margin: 0 15px;
            //box-shadow: gray 0 0 5px;
            border-radius: 12px;
            border-color: lightgrey;
            
        }
    }

    .inactive {
        opacity: 0.5;
        cursor: not-allowed;
    }

    #slideshow-table {
        width: 100%;
        margin-top: 0px;
        text-decoration: none;

        td.button-column{
            vertical-align: top;
            position: relative;
            width: 60px;

            a{
                // display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                transition: background-color .3s;
                text-decoration: none;

                &:hover {
                    background-color: #f1faff;
                }
                
                .slideButton {
                    @include buttonStyle;
                    background-color: transparent;
                    color: rgb(95, 95, 95);
                    padding: 6px 10px;
                    font-size: 30px;
                    border: none;
                    display: block;
                    margin: 20px auto 0;
                }
            }
            
            &.left-col a {
                border-radius: 7px 0 0 7px;
            }
            &.right-col a {
                border-radius: 0 7px 7px 0;
            }
        }

    }

    #slideshow-empty{
        font-style: italic;
        color: darkred;
    }

}