@mixin buttonStyle {
    //border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    //font-family: initial;
}

#slideshow-wrapper {
    position: relative;
    margin: auto;
    width: 60%;
    text-align: center;

    #slideshow-toprow {
        .actionButton {
            @include buttonStyle;
            background-color: transparent;
            //border-radius: 2px;
            //font-weight: bold; 
            font-size: 13px;
            padding: 3px 10px;
            margin: 0 15px;
            //box-shadow: gray 0 0 5px;
            border-radius: 12px;
            border-color: lightgrey;
            
        }
    }

    .inactive {
        opacity: 0.5;
        cursor: not-allowed;
    }

    #slideshow-table {
        width: 100%;
        margin-top: 0px;
        text-decoration: none;

        td.button-column{
            vertical-align: top;
            position: relative;
            width: 60px;

            a{
                display: block;
                
                .slideButton {
                    @include buttonStyle;
                    background-color: transparent;
                    color: rgb(95, 95, 95);
                    padding: 15px 10px;
                    font-size: 30px;
                    height: 100%;
                    width: 100%;
                    border: none;

                    
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;

                    $innerColor: transparent;
                    $outerColor: lightgray;

                    &.leftBtn {
                        border-radius: 5px 0 0 5px;
                        //background-image: linear-gradient(to left, #{$innerColor} 20%, #{$outerColor})
                    }
                    &.rightBtn {
                        border-radius: 0 5px 5px 0;
                        //background-image: linear-gradient(to right, #{$innerColor} 20%, #{$outerColor})
                    }
                }
            }
        }

    }

    #slideshow-empty{
        font-style: italic;
        color: darkred;
    }

}