@import "_globalMixins.scss";

#template-details-wrapper {

    margin-bottom: 100px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 10px 0;
    display: flex;

    #template-preview {
        flex: auto;
        margin-right: 5%;
        min-width: 0;

        img {
            width: auto;
            height: auto;
            max-height: 700px;
            max-width: 100%;
        }
    }

    #toprow {
        display: flex;

        & > * {
            flex: auto;
        }
    }

    .details {
        flex: auto;
    }
    #loader, #loader div {
        display: inline-block;
        margin: 0 30px;
    }

    #confirm-button {
        @include largeButton(#6079d7, #2f4dbb);
    }
    
}