@import "_globalMixins.scss";

.fullsizetable {
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
}

#wysiwyg-wrapper {
    padding: 0 20px;
    box-sizing: border-box;
    margin-top: 50px;
        
    .invalid {
        background-color: #f28f8f!important;
    }

    #page-left, #page-right {
        width: 50%;
        box-sizing: border-box;
        padding: 10px 20px;
        vertical-align: top;
    }

    #page-left {
        border-right: 1px solid gray;
        text-align: center;

        #in-title {
            @include unstyled-input;
            width: 100%;
            font-size: 25px;
            border-bottom: 1px solid lightgray;
            text-align: center;
            margin-bottom: 20px;
        }

        #canvas-editor {
            cursor: text;
        }
    }

    #page-right {
        
        #in-captions-list {
            padding: 0;

            li {
                list-style-type: none;
                margin-bottom: 10px;
            }

            summary {
                padding: 11px;
                position: relative;
                transition: background-color .3s;

                &:hover {
                    background-color: #d9e5ee;
                }
            }

            details {
                border: 1px solid lightgray;
                background-color: #95b9d6;
                transition-property: background-color;
                transition-duration: .7s;
            }

            .in-caption {
                @include unstyled-input;
                font-size: inherit;
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                padding: 10px 30px;
            }

            .speech-button {
                font-size: inherit;
                position: relative;
                background-color: transparent;
                float: right; 
                margin-right: 35px;
                       
                &:hover {
                    border-radius: 30px;
                }
            }
            
            .in-caption-delete {
                @include unstyled-input;
                color: darkred;
                font-family: initial;
                cursor: pointer;
                transition: color .3s;
                position: absolute;
                top: 0;
                right: 0;
                padding: 8px;
                padding-right: 15px;
                height: 100%;
                box-sizing: border-box;
                
                &:hover {
                    color: red;
                }
            }

            .in-caption-formatting-wrapper {
                padding-left: 33px;

                .in-caption-formatting-table {
                    th, td {
                        vertical-align: top;
                        padding-bottom: 30px;
                    }

                    input[type="range"] {
                        vertical-align: bottom;
                        margin: 0 5px;
                    }

                    label {
                        display: block;
                    }

                    input {
                        margin-right: 5px;
                    }
                }
            }
            
            #in-captions-template-li {
                display: none;
            }
        }
        

        .visibilityOption {
            margin: 0;
            padding: 0 10px;

            $outer-padding: 5px;

            &:first-of-type{
                padding-top: $outer-padding;
            }
            &:last-of-type{
                padding-bottom: $outer-padding;
            }

            input {
                margin-right: 5px;
            }
        }

        #save-draft-btn {
            @include largeButton(#6079d7, #2f4dbb);

            &.inactive{
                @include inactiveBtn;
            }
        }
    }
}
