@font-face {
    font-family: Impact;
    src: url(impact.ttf) format("truetype");
}
#force-font-preload { // the <span> this applies to is empty, but specifying the font forces it to be downloaded immediately, effectively delaying the window.load event and thereby avoiding bugs stemming from the font being loaded after canvas already started processing text
    font-family: Impact;
}
#page-wrapper, .in-caption-formatting-table {
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
}
#page-left, #page-right {
    width: 50%;
    box-sizing: border-box;
    padding: 10px 20px;
    vertical-align: top;
}
#page-left {
    border-right: 1px solid gray;
    text-align: center;
}
#in-title {
    background-color: transparent;
    width: 100%;
    font-size: 25px;
    border: none;
    border-bottom: 1px solid lightgray;
    text-align: center;
    margin-bottom: 20px;
}
#in-captions-list {
    padding: 0;
}
#in-captions-list li {
    list-style-type: none;
    margin-bottom: 10px;
}
#in-captions-list summary {
    /* old:
    padding: 10px;
    new:
    */
    padding: 11px;
    position: relative;
}

.in-caption {
    border: 0;
    background-color: transparent;
    font-size: inherit;
    /* old:
    width: 90%;
    new: */
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px 30px;
}

.in-caption-delete {
    background-color: transparent;
    border: none;
    color: darkred;
    cursor: pointer;
    transition: color .3s;
    /* old:
    float: right;
    new: */
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px;
    padding-right: 15px;
    height: 100%;
    box-sizing: border-box;
}
.in-caption-delete:hover {
    color: red;
}

#in-captions-list details {
    border: 1px solid lightgray;
    background-color: #95b9d6;
    transition-property: background-color;
    transition-duration: .8s;
}
#in-captions-list summary:hover {
    background-color: #d9e5ee;
    transition: background-color .3s;
}
.in-caption-formatting-wrapper {
    padding-left: 33px;
}
.in-caption-formatting-table th, .in-caption-formatting-table td {
    vertical-align: top;
    padding-bottom: 30px;
}
.in-caption-formatting-table input[type="range"] {
    vertical-align: bottom;
    margin: 0;
    margin-left: 5px;
}
.in-caption-formatting-table label {
    display: block;
}
#canvas-editor {
    cursor: text;
}
#download-btn {
    background-color: #6079d7;
    color: #fff;
    letter-spacing: .0625rem;
    box-shadow: 0 3px 5px 1px rgb(163, 166, 168);
    padding: 8px;
    border: 1px solid #2c6799;
    border-radius: 3px;
    font-size: 12pt;
    width: 100%;
    box-sizing: border-box;
    margin: 20px 0;
    cursor: pointer;
}